<div class="container">
  <div class="card shadow">
    <div class="card-header py-3">
      <p class="text-primary m-0 font-weight-bold">Edit Clinic: <%= @clinic.name.split('_').join(" ") %></p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <%= simple_form_for(@clinic, url: clinic_path(@clinic)) do |form| %>
            <%= form.label :name %>
            <%= form.text_field :name, style:'text-transform: capitalize;' %>
            <%= form.label :room_number %>
            <%= form.text_field :room_number %>
            <%= form.label :appointment_duration %><br/>
            <%= form.number_field :appointment_duration, style: 'width: 100%;font-size:1.5rem;' %>
            <%= form.button :submit, 'Update Clinic Details', style: 'margin-top:2rem;width:100%;margin-bottom:2rem;' %>
          <% end %>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>
