<div class="container-fluid" style="height:100vh;background: #2a90cb;">
  <div class="row">
    <div class="col-lg-6 col-xl-4 offset-xl-1 doc_login-form">
      <%= image_tag 'doctor-img.svg' %>
    </div>
    <div class="col-lg-6 col-xl-6 offset-xl-0 doc_login-form">
      <div class="pt-4 pl-2 pr-2 pb-2">
        <div class="text-center">
          <a class="logo" href="/">
            <%= image_tag 'logo.png' %>
          </a>                        <hr>
          <h4 class="text-primary mb-4">Create New Patient Account</h4>
        </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name, class: "user")) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group row">
              <div class="col-sm-6 mb-1">
                <%= f.text_field :firstname, class: "form-control form-control-user", autofocus: true, autocomplete: "firstname", required: true, placeholder: "Enter your first name" %>
              </div>
              <div class="col-sm-6 mb-1">
                <%= f.text_field :lastname, class: "form-control form-control-user", autofocus: true, autocomplete: "lastname", required: true,  placeholder: "Enter your last name" %>
              </div>
              <div class="col-xl-6 mt-4 mb-1">
                <%= f.email_field :email, class: "form-control form-control-user", autofocus: true, autocomplete: "email", placeholder: "Enter your email" %>
              </div>
              <div class="col-xl-6 mt-4 mb-1">
                <div style="display:flex;">
                  <span style="margin:auto;margin-right:0.5rem;font-weight:bold;">+63</span>
                  <%= f.text_field :mobile_number, class: "form-control form-control-user", placeholder: "9-digit Mobile Number" %>
                </div>
              </div>
              <div class="col-xl-6 mt-4 mb-1">
                <%= f.password_field :password, class: "form-control form-control-user", autocomplete: "new-password", placeholder: "Enter your password" %>
              </div>
              <div class="col-xl-6 mt-4 mb-1">
                <%= f.password_field :password_confirmation, class: "form-control form-control-user", autocomplete: "new-password", placeholder: "Confirm your password" %>
              </div>
            </div>
          </div>
          <%= f.submit "Register Now", class:"btn btn-primary btn-block text-white btn-user" %>
          <br>
        <% end %>
        <div class="text-center">
          <%= link_to new_user_session_path do  %>
            Already have an account? login here
          <% end %>
        </div>
        <hr>
        <div class="text-center">
          <a class="small" href="/">or go back to the Homepage</a></div>
        <br>
      </div>
    </div>
  </div>
</div>
