<header>
  <div class="container">
    <a href="/" style='text-decoration:none!important;font-size:1.6rem;' class="logo"><i class="fas fa-heartbeat"></i><span style="color:#0188DF;">  W</span>EB<span style="color:#0188DF;">D</span>ASS</a>

    <nav class="nav">
      <ul>
        <li>
        <%= link_to root_path, style:'text-decoration:none!important;font-size:1.1rem;' do %>
          Home
        <% end %>
        </li>
        <li><a style='text-decoration:none!important;font-size:1.1rem;'href="#about">About</a></li>
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, style:'text-decoration:none!important;font-size:1.1rem;' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign In', new_user_session_path, style:'text-decoration:none!important;font-size:1.1rem;' %>
          </li>
          <li>
            <%= link_to 'Sign Up', new_user_registration_path, style:'text-decoration:none!important;font-size:1.1rem;' %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="fas fa-bars"></div>
  </div>
</header>
<section class="home container" id="home">
	<div class="container-flex">
		<div class="row min-vh-100 align-items-center text-center text-md-left">
			<div class="col-md-6 pr-md-5" data-aos="zoom-in">
					<img src="home-img.svg" width="100%" alt="">
					<%= image_tag 'home-img.svg' %>
			</div>
			<div class="col-md-6 pl-md-5 content text-left" data-aos="fade-left">
        <div style="margin-left:2rem;">
          <h1><span style="color:#0188DF;">NEED AN APPOINTMENT?</span></h1>
          <h6>Book appointments with your favorite doctor in just a few clicks!</h6>
          <%= link_to new_appointment_path do  %>
            <button class="button" style="width:100%;background-color:#0188DF;"><b>BOOK NOW</b></button>
          <% end %>
        </div>
			</div>
		</div>
	</div>
</section>
<!-- Start of about section -->
<section class="about" id="about">
	<h1 class="heading">
		<span>We offer the following cardiology services:</span>
	</h1>
	<div class="container">
		<div class="row min-vh-100 align-items-center">
			<div class="col-md-6 content" data-aos="fade-right">
				<div class="box">
					<h3> <i class="fas fa-user-md"></i> General Cardiology Consultations </h3>
					<p>You will be asked both general health inquiries and a few additional particular questions related to the reason behind your visit. A physical assessment follows, and if necessary, the doctor could arrange for further testing. The cardiologist might prescribe medication or provide your primary care provider with recommendations.</p>
				</div>
				<div class="box">
					<h3>
						<i class="fas fa-stethoscope"></i>
						Stress Testing
					</h3>
					<p>
						A stress test, otherwise called an exercise test or treadmill test, can give a thought of how well an individual's heart functions during physical activities. It can likewise assist with diagnosing different heart conditions.
					</p>
				</div>
				<div class="box">
					<h3> <i class="fas fa-heartbeat"></i> Cardiac Rehabilitation </h3>
					<p>Cardiac Rehabilitation is a restoratively directed program that incorporates work out, support, counseling and education. This complete program assists you with recuperating from a heart attack or other heart issue. It offers many advantages that can work on your wellbeing and personal satisfaction.</p>
				</div>
				<div class="box">
					<h3>
						<i class="fas fa-file-medical-alt"></i> Echocardiography
					</h3>
					<p>
						An echocardiogram is a test that utilizes ultrasound to show how your heart muscle and valves are working. The sound waves create moving photos of your heart so your doctor can get a decent glance at its size and shape. You could hear them refer to it as "echo" for short.
					</p>
				</div>
			</div>
			<div class="col-md-6 d-none d-md-block" data-aos="fade-left">
				<img src="about-img.png" width="100%" alt="">
        <%= image_tag 'about-img.png', style:'width:100%;' %>
			</div>
		</div>
	</div>
</section>
<!-- End of about section -->

<!-- Start of footer section -->
<section class="footer">
  <div class="col-md-12" data-aos="fade-up">
    <p class="credit text-center mx-auto" style="border:none!important;">Copyright © 2022   <i class="fas fa-heartbeat"></i>&nbsp<span>W</span>EB<span>D</span>ASS. All rights reserved. For XU-CSS IT Capstone Project.</p>
  </div>
</section>
