<%# qs = Appointment.doctor_appointments_today.to_a.map{ |a| {user_id: a.user_id, clinic_id: a.clinic_id, schedule: a.schedule, queue_type: 2} } %>
<div style="display:flex;">
	<%= render 'layouts/sidebar' %>
	<div class="d-flex flex-column" style="background-color:#f8f9fc;width:100%;overflow-x:hidden;">
		<%= render 'navbar' %>
		<div class="container">
			<div class="row mb-3">
				<div class="col-md-12">
						<div class="row">
							<div class="col">
								<div class="card shadow mb-3">
									<div class="card-body">
										<div class="card-header py-3">
                      <% if @clinic.present?  %>
                        <p class="text-primary m-0 font-weight-bold"><%= @clinic.name %> | Today's Queue</p>
                      <% else %>
                        <% if current_user.doctor? %>
                          <p class="text-primary m-0 font-weight-bold">You have no clinic schedule for today. Click <%= link_to 'here', doctor_clinics_path %> to add.</p>
                        <% else %>
                          <p class="text-primary m-0 font-weight-bold">You have no clinic schedule for today. Contact your administrator or doctor to create one.</p>
                        <% end %>
                      <% end %>
										</div>
                    <% if @clinic.present?  %>
                      <div class="card-body">
                        <div class="col-md-12 search-table-col">
                          <div class="form-group pull-right col-xl-12">
                            <div class="row">
                              <div>
                                <% if @in_progress.present? %>
                                  <h1>
                                    In Progress:
                                    <%= @in_progress&.patient&.fullname %>
                                  </h1>
                                <% end %>
                              </div>
                              <div class="col-sm-6 col-xl-3">
                                <button class="btn btn-primary btn-block" type="button" data-toggle="modal" data-target="#add-queue-modal">
                                  <strong>Add to Queue</strong>
                                </button>
                              </div>
                              <div class="col-sm-6 col-xl-3 offset-xl-6">
                                <input class="form-control-sm search form-control" type="text" placeholder="Search by patient name here">
                                <span>
                                  <%= link_to 'Start queue', start_queue_doctor_clinic_queues_path, method: :post, class:'btn btn-primary btn-block', style: 'margin-top:1rem;' %>
                                </span>
                                <% if @clinic_queues.present? %>
                                  <span>
                                    <%= link_to 'Cancel today\'s queue', cancel_todays_queue_doctor_clinic_queues_path, method: :post, class:'btn btn-warning btn-block', style: 'margin-top:1rem;' %>
                                  </span>
                                <% end %>
                                <span>
                                  <%= link_to 'Next', next_patient_doctor_clinic_queues_path, method: :post, class:'btn btn-success btn-block', style: 'margin-top:1rem;' %>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="table-responsive table results clinic_list text-nowrap">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th class="text-nowrap" id="trs-hd">Patient Name</th>
                                  <th class="text-nowrap" id="trs-hd">Type</th>
                                  <th class="text-nowrap" id="trs-hd">Status</th>
                                  <th class="text-nowrap" id="trs-hd">Skip Option</th>
                                  <th class="text-center" id="trs-hd">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% @clinic_queues.each do |cq| %>
                                  <tr class="text-nowrap">
                                    <td class="text-nowrap">
                                      <%= cq.patient.fullname %>
                                      <% if cq.skip_for_now? %>
                                        <span class="badge badge-pill badge-warning">
                                          Skipped
                                        </span>
                                      <% end %>
                                    </td>
                                    <td class="text-nowrap">
                                      <% if cq.queue_type == "walkin" %>
                                        Walk-in
                                      <% else %>
                                        Appointment
                                      <% end %>
                                    </td>
                                    <td class="text-nowrap">
                                      <% if cq.status == "in_queue" %>
                                        In Queue
                                      <% elsif cq.status == "in_progress" %>
                                        In Progress
                                      <% else %>
                                        Finished
                                      <% end %>
                                    </td>
                                      <% if cq.skip_for_now? %>
                                        <td class="text-nowrap">
                                          <%= link_to 'Add back to Queue', toggle_skip_for_now_doctor_clinic_queue_path(cq), method: :post, data: { confirm: "Are you sure you want to add #{cq.patient.firstname} back to queue?" }, class:"btn btn-light" %>
                                        </td>
                                      <% else %>
                                        <td class="text-nowrap">
                                          <%= link_to 'Skip Patient Queue', toggle_skip_for_now_doctor_clinic_queue_path(cq), method: :post, data: { confirm: "Are you sure you want to temporarily skip #{cq.patient.firstname}?" }, class:"btn btn-dark" %>
                                        </td>
                                      <% end %>
                                    <td class="text-center">
                                      <%= link_to doctor_clinic_queue_path(cq), method: :delete, data: { confirm: "Are you sure you want to remove #{cq.patient.firstname} from queue?" }, class:"btn btn-danger action-btn" do %>
                                        <i class="fa fa-trash"></i>
                                      <% end %>
                                    </td>
                                  </tr>
                                <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    <% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="add-queue-modal">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
				<strong>Add Patient to Queue</strong></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="accordion" id="accordionExample">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h2 class="mb-0">
								<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-decoration:none;">
									Unregistered Patients
									<i style="margin-left:1rem;" class="fas fa-chevron-down"></i>
								</button>
							</h2>
						</div>
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body">
								<div class="col-md-12">
									<div class="row">
										<div class="col">
											<div class="card shadow mb-3">
												<div class="card-body">
													<div class="col-md-12 search-table-col">
														<%= form_with(model: @patient, url: add_patient_to_queue_path, method: :post) do |form| %>
															<div class="form-row">
																<div class="col-12 col-xl-6">
																	<div class="form-group">
																		<label for="email">
																			<strong>Contact Number</strong>
																		</label>
																		<%= form.text_field :mobile_number, placeholder: 'Contact Number' %>
																	</div>
																</div>
																<div class="col-12 col-xl-6">
																	<div class="form-group">
																		<label for="first_name">
																			<strong>Email</strong><br>
																		</label>
																		<%= form.text_field :email, placeholder: 'Email goes here' %>
																	</div>
																</div>
															</div>
															<div class="form-row">
																<div class="col-12 col-xl-6">
																	<div class="form-group">
																		<label for="email">
																			<strong>Patient's First name</strong>
																		</label>
																		<%= form.text_field :firstname, placeholder: "Type patient's first name" %>
																	</div>
																</div>
																<div class="col-12 col-xl-6">
																	<div class="form-group">
																		<label for="first_name">
																			<strong>Patient's Last name</strong><br>
																		</label>
																		<%= form.text_field :lastname, placeholder: "Type patient's last name" %>
																	</div>
																</div>
															</div>
															<%= form.hidden_field :password, value: "testing 123" %>
															<%= form.hidden_field :password_confirmation, value: "testing 123" %>
															<div class="form-group" style="margin-top:1.5rem;">
																<%= form.submit 'Submit', class:'btn btn-primary btn-sm' %>
															</div>
														<% end %>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h2 class="mb-0">
								<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration:none;">
									Registered Patients
									<i style="margin-left:1rem;" class="fas fa-chevron-down"></i>
								</button>
							</h2>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body" style="padding-bottom: 5em;">
								<div class="col-md-12 search-table-col">
									<%= form_with(model: @patient, url: add_existing_patient_to_queue_path, method: :post) do |form| %>
										<div class="form-row">
											<div class="col-12 col-xl-12">
												<div class="form-group ui-front">
													<label for="email">
														<strong>Find patient by Lastname</strong>
													</label>
													<%= form.autocomplete_field :email, queue_autocomplete_patient_doctor_clinic_queues_path, :id_element => "#patient_id", 'data-auto-focus' => true %>
												</div>
											</div>
										</div>
										<div class="form-group" style="margin:3rem 0;">
											<%= form.submit 'Submit', class:'btn btn-primary btn-sm' %>
										</div>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
