<thead>
  <tr>
    <th><b>Clinic</b></th>
    <th><b>Schedule</b></th>
    <th><b>Time</b></th>
    <th><b>Patient's Name</b></th>
    <th><b>Contact Number</b></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @appointments.find_each do |a| %>
    <tr>
      <td><%= a.clinic.name.split('_').join(' ') %></td>
      <td><%= a.schedule.strftime("%B %d, %A") %></td>
      <td><%= a.schedule.strftime("%I:%M %p") %></td>
      <td><%= a.user.fullname %></td>
      <td><%= a.user.mobile_number %></td>
      <% unless a.schedule.asctime.in_time_zone('Hong Kong') < DateTime.now %>
        <td>
          <%= link_to edit_doctor_appointment_path(a), class:"btn btn-warning action-btn" do %>
            <i class="far fa-edit"></i>
          <% end %>
          <%= link_to cancel_appointment_doctor_appointment_path(a), method: :post, data: { confirm: "Are you sure you want to cancel #{a.user.fullname}'s appointment?" }, class:"btn btn-danger action-btn" do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      <% else %>
        <td>
          <span class="badge badge-success">
            Appointment has passed
          </span>
        </td>
      <% end %>
    </tr>
  <% end %>
</tbody>
