<%
	def time_iterate(start_time, end_time, step, &block)
		begin
			yield(start_time)
		end while (start_time += step) <= end_time
	end
%>

<%
# byebug
	date_time_now = DateTime.now

	days_from_this_week = (date_time_now.beginning_of_week..date_time_now.end_of_week).to_a

	# days_from_this_week.delete_if { |weekday| !@clinic.clinic_schedules.map{ |c| c.day }.include?(weekday) }
# byebug
	# Check if day in current week is == clinic schedule
	clinic_days = days_from_this_week.select{ |weekday| (@clinic.clinic_schedules.map{|c| c.day}).include?(weekday.strftime("%A")) }

	duration = @clinic.appointment_duration.minutes
	time_start = @clinic.clinic_schedules.first.start_time.in_time_zone("Hong Kong")
	time_end = @clinic.clinic_schedules.first.end_time.in_time_zone("Hong Kong")
	date_time_start = date_time_now.beginning_of_day + time_start.hour.hours + time_start.min.minutes
	date_time_end = date_time_now.beginning_of_day + time_end.hour.hours + time_end.min.minutes
%>
<div style="display:flex;">
	<%= render 'layouts/sidebar' %>
	<div class="d-flex flex-column" style="background-color:#f8f9fc;width:100%;overflow-x:hidden;">
		<%= render 'navbar' %>
		<div class="container">
			<div class="row mb-3">
				<div class="col-md-12">
						<div class="row">
							<div class="col">
								<div class="card shadow mb-3">
									<div class="card-header py-3">
										<h5>
											Set an Appointment
										</h5>
									</div>
									<div class="card-body">
										<div class="col-md-12 search-table-col">
											<div class="form-row">
												<div class="col-md-12">
													<%= form_tag(patient_book_appointment_path, method: :get) do %>
														<div class="select-clinic" style="float:right;margin-bottom:1rem">
															<%= select_tag :clinic_id, options_for_select(@clinics.collect { |c| [c.name, c.id] }, params[:clinic_id]), { include_blank: 'Select Clinic', style: 'width: 100%;margin-bottom:1rem;' } %>
															<%= submit_tag 'Set Clinic', style: 'float:right;' %>
														</div>
													<% end %>
													<div style="display:flex;">
														<%= button_to patient_book_appointment_path, remote: true, method: :get, class: 'btn btn-primary' do %>
															Day View
														<% end %>
														<%= button_to patient_book_appointment_path(week: true), remote: true, method: :get, class: 'btn btn-primary', style:'margin-left:1rem;' do %>
															Week View
														<% end %>
													</div>
													<div id="calendar-option">
														<table class="table table-hover">
															<thead>
																<tr>
																	<th scope="col">Time</th>
																	<% clinic_days.each do |date| %>
																		<th scope="col"><%= date.strftime("%A") %></th>
																	<% end %>
																</tr>
															</thead>
															<tbody>
																<% time_iterate(date_time_start, date_time_end, duration) do |date_time| %>
																	<tr>
																		<%
																			x = date_time.beginning_of_day + date_time.hour.hours + date_time.min.minutes
																			app = Appointment.find_by(schedule: x, clinic: @clinic)
																		%>
																		<td>
																			<%= date_time.strftime("%H:%M %p") %>
																			<% if app.present? %>
																				<%  if current_user.appointments.include? app %>
																					<span style="margin-left:1rem;" class="badge badge-dark">Yours!</span>
																				<% else %>
																					<span style="margin-left:1rem;" class="badge badge-warning">Taken</span>
																				<% end %>
																			<% else %>
																				<span style="margin-left:1rem;" class="badge badge-success">Available</span>
																			<% end %>
																		</td>
																		<% clinic_days.each do |date| %>
																			<%
																				x = date.to_datetime.beginning_of_day + date_time.hour.hours + date_time.min.minutes
																				app = Appointment.find_by(schedule: x)
																			%>
																			<td data-date="#{date}">
																				<% if app.present? %>
																					<% if current_user.appointments.include? app %>
																						<b>
																							<%= link_to 'Cancel this Appointment', app, method: :delete, style: 'text-decoration:none;', data: { confirm: "Are you sure you want to cancel?" } %>
																						</b>
																					<% else %>
																						<b>- TAKEN -</b>
																					<% end %>
																				<% else %>
																					<%= link_to 'Set Appointment', patient_create_appointment_path(schedule: x, clinic_id: @clinic.id), method: :post %>
																				<% end %>
																			</td>
																		<% end %>
																	</tr>
																<% end %>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="form-group"><button class="btn btn-primary btn-sm" type="submit"><strong>Book Appointment</strong></button></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		console.log("Heeeeeeeeeeeeere!")
	})
</script>
