<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
        <div class="row">
          <div class="col">
            <div class="card shadow mb-3">
              <div class="card-body">
                <div class="card-body">
                  <div class="col-md-12 search-table-col">
                    <%= form_with(model: @patient, url: user_book_patient_appointment_path, method: :post) do |form| %>
                      <div class="form-row">
                        <div class="col-12 col-xl-12">
                          <label for="schedule">
                            <strong>
                              Schedule
                              <i>
                                (Clinic Name, Time & Date)
                              </i>
                              <a class="btn btn-dark" style="margin-left:1rem;color:#fff;" data-toggle="modal" data-target="#clinic-schedules-modal">
                                <i>Click for Clinics Schedules</i>
                              </a>
                            </strong>
                          </label>
                          <div>
                            <%= form.autocomplete_field :appointment_schedule, autocomplete_schedule_doctor_path, :id_element => "#appointment_schedule", placeholder: "Typing 'cu mon 9 am ap 4' searches for 'CUMC Monday 9:00 AM April 4 2022'" %>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" style="margin-top:1.5rem;">
                        <%= form.submit 'Submit', class:'btn btn-primary btn-sm' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="clinic-schedules-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong>Clinics Schedules</strong></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
        <div class="container">
          <div style="margin:1.5rem 0;">
            <% Clinic.all.find_each do |c| %>
              <h5><%= c.name.split('_').join(' ') %></h5>
              <% c.clinic_schedules.find_each do |cs| %>
                <h6>- Every <%= cs.day %>s at <%= cs.start_time.strftime("%I:%M %p") %></h6>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
