<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= form.label :user_id, 'Patient: ' %>
    <%= form.select :user_id, options_from_collection_for_select(@patients, 'id', 'fullname') %>
  </div>

  <div class="">
    <%= form.hidden_field :clinic_id, value: params[:clinic_id] %>
  </div>

  <div class="">
    <%#= form.label :schedule %>
    <%#= form.datetime_select :schedule %>
    <%= form.hidden_field :schedule, value: params[:schedule].to_time %>
  </div>

  <div class="">
    <%#= form.label :status %>
    <%#= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
