<!DOCTYPE html>
<html>
  <head>
    <title>okidoks!</title>
    <%= favicon_link_tag asset_path("favi.png") %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <!-- aos css file cdn link  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success" style="padding-left:8em;"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger" style="padding-left:8em;"><%= alert %></p>
    <% end %>
    <% unless controller_name == 'home_controller' %>
      <div style="display:flex;">
        <%= render 'layouts/sidebar' %>
        <div class="d-flex flex-column" id="content-wrapper"  style="background-color:#f8f9fc;width:100%;overflow-x:hidden;">
          <div id="content">
            <%= render 'layouts/navbar' %>
            <%= yield %>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
